* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #131A2A;
  width: 100vw;
  font-size: 16px;
}

body {
  color: white;
}

.match_id {
  display: none;
}

.top-bar {
  width: 100%;
  height: 8px;
  background-color: #00DD80;
}

.title {
  margin: 50px 0 15px 35px;
}

.dashboard {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.dashboard-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
}

.dashboard-panel h1 {
  margin-left: 40px;
  margin-top: 40px;
}

.dashboard-panel--activeMenu {
  margin-right: 305px;
}

.dashboard-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #F7F7F7;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: -10px 0px 5px #00000029;
          box-shadow: -10px 0px 5px #00000029;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transform: translateX(305px);
          transform: translateX(305px);
}

.dashboard-menu__bars {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  left: -50px;
  cursor: pointer;
}

.dashboard-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 15px 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-menu__top-name {
  color: black;
  font-size: 20px;
}

.dashboard-menu__top-button {
  width: 119px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: #00DD80;
  cursor: pointer;
}

.dashboard-menu__messages {
  position: relative;
}

.dashboard-menu__messages-title {
  font-size: 20px;
  color: black;
  margin: 50px 0 40px 15px;
}

.dashboard-menu__messages-add {
  position: absolute;
  top: 48px;
  left: 130px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1B273B;
  cursor: pointer;
}

.dashboard-menu__announcement {
  width: 250px;
  max-height: 150px;
  padding: 10px;
  color: black;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 300;
  background-color: #DDDDDD;
  overflow: auto;
  border-radius: 5px;
}

.dashboard-menu__announcement-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
  font-weight: 400;
}

.dashboard-menu--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.data-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #1B273B;
  width: 355px;
  height: 281px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 10px #00000029;
          box-shadow: 5px 5px 10px #00000029;
}

.data-box__top {
  position: relative;
  width: 355px;
  height: 51px;
  background-color: #161E31;
  font-size: 18px;
  text-align: center;
  line-height: 51px;
  border-radius: 4px 4px 0 0;
}

.data-box__top-coach-button {
  position: absolute;
  right: 5px;
  top: 12px;
  padding: 5px 10px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.data-box__top-coach-button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .3s;
  transition: .3s;
}

.data-box__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.data-box__data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  border-bottom: 3px solid #161E31;
}

.data-box__data-row-center {
  width: 160px;
  text-align: left;
}

.data-box__data-row-center p:last-child {
  font-weight: 100;
}

.data-box__data-row-right {
  color: #00DD80;
}

.data-box__result-btn {
  right: 5px;
  top: 12px;
  padding: 0px 9px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.data-box__result-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .3s;
  transition: .3s;
}

/* Weather widget*/
.weather-widget {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 15px;
  bottom: 20px;
  background-color: #1B273B;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  z-index: 98;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.weather-left, .weather-middle, .weather-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 150px;
}

.part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  overflow: hidden;
}

.weather-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-img {
  width: 50px;
}

.coach-popup {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 400px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  z-index: 99;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
}

.coach-popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 40px;
  background-color: #00AA95;
  color: white;
  border-radius: 5px 5px 0 0;
}

.coach-popup__exit {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.coach-popup__title {
  font-size: 20px;
}

.coach-popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coach-popup__form--training {
  margin-top: 30px;
}

.coach-popup__input {
  width: 300px;
  height: 35px;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 5px;
}

.coach-popup__button {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.coach-popup--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=panel.css.map */