* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #131A2A;
  width: 100vw;
  font-size: 16px;
}

.top-bar {
  width: 100%;
  height: 8px;
  background-color: #00DD80;
}

.main-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav {
  position: absolute;
  right: 0;
  top: 107px;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  list-style: none;
}

nav .navigation a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 53px;
}

.login_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 330px;
}

.login_types .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 280px;
  border: none;
  border-radius: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.login_types .login-box--player {
  background-color: #00DD80;
}

.login_types .login-box--parents {
  background-color: #00AA95;
}

.login_types .login-box--coach {
  background-color: #283366;
}

.login_types .login-box__img {
  margin-top: 15px;
  width: 120px;
  height: 120px;
}

.login_types .login-box__text {
  font-size: 20px;
  margin-top: 11px;
  color: #ffffff;
}

.login_types .login-box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.login-popup {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 311px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 99;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
}

.login-popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 40px;
  background-color: #00AA95;
  color: white;
  border-radius: 5px 5px 0 0;
}

.login-popup__top--error {
  background-color: #fe4646;
}

.login-popup__exit {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.login-popup__title {
  font-size: 20px;
}

.login-popup__img {
  width: 45px;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.login-popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-popup__input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}

.login-popup__button {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login-popup--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */